/* mobile divice responsive */
@media screen and (max-width: 576px) {
    /* nav section responsive  */
    .nav-container, .nav-list-content{
        flex-direction: column;
        margin: 10px;
    }
    .nav-title, .nav-list-content{
        width: 100%;
        text-align: center;
    }
    .nav-list-content{
        font-size: 20px;
        gap: 20px;
    }
    /* nav section responsive end here  */
}
